{% extends 'layouts.base' %}

{% block title %}About{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1 class="mb-3">About This Application</h1>
        <div class="card">
            <div class="card-body">
                <p>
                    The application allows users to manage a list of pets with functionalities like:
                <ul>
                    <li>View a paginated list of available pets.</li>
                    <li>Add a new pet.</li>
                    <li>Edit or delete existing pets.</li>
                   </ul>
                </p>
                <p>
                    <strong>Technologies Used:</strong><br>
                    - Laravel<br>
                    - RESTful communication with the <a href="https://petstore.swagger.io/">PetStore Swagger API</a><br>
                    - Twig<br>
                    - Bootstrap
                </p>
                <p>
                    This project demonstrates the use of REST API integration with Laravel.
                </p>
                <p>
                    You can explore the source code <a href="https://github.com/EdyGau/petstoreapi" target="_blank">on GitHub</a>.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
